{% extends 'Blog/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'Blog/navigate_bar.html' with activate='posts' %}
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ post.title }}</h2>
                    <p class="blog-post-meta">{{ post.created_stamp|date:'d-M-Y' }}</p>
                    {% if post.heading %}
                        <h2>{{ post.heading }}</h2>
                    {% endif %}
                    <p>{{ post.text|safe|escape }}</p>

                    <h3 class="text-center "><a href="{% url 'home-posts' %}" type="">Back to posts</a></h3>
                </div>
            </div>
        </div>
    </main>
{% endblock %}