{% extends 'Blog/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'Blog/navigate_bar.html' with activate='posts' %}
{% endblock %}

{% block body %}
    {% if posts %}
        <main role="main" class="container">
            <h1>Posts page</h1>
            <div class="row">
                <div class="col-md-8 blog-main">
                    {% if posts %}
                        {% include 'Blog/Posts/posts_order.html' %}
                        {% for post in posts %}
                            {% include 'Blog/Posts/post_card.html' %}
                        {% endfor %}
                        {% include 'Blog/Posts/posts_pagination.html' %}
                    {% endif %}
                </div>
                <aside class="col-md-4 blog-sidebar">
                    <div class="p-3">
                        <h4 class="font-italic">Sidebar</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="{% url 'home-posts' %}">All posts</a></li>
                            <li><a href="{% url 'home-recently-changed-posts' %}">Recently changed posts</a></li>
                            <li><a href="{% url 'home-this-month-posts' %}">This month posts</a></li>
                        </ol>
                    </div>
                </aside>
            </div>
        </main>
    {% else %}
        {% include 'Blog/Home/empty_page.html' with message='Posts not added yet' %}
    {% endif %}
{% endblock %}