{% extends 'Admin/Todo/todo_base.html' %}
{% load django_tables2 %}

{% block body %}
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">{{ table.title }}</div>
            <div>
                <a type="button" class="btn btn-success" href="{% url 'todo-add' %}">Add</a>
                <a type="button" class="btn btn-warning" href="{% url 'todo-clear' %}">Clear</a>
            </div>
        </div>
    </div>
    {% include 'Admin/admin_filter_form.html' with filter=filter %}
    {% render_table table.body %}
{% endblock %}
