{% extends 'Admin/About/about_base.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">View</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="row form-group">
                <div class="col-sm-5">Title</div>
                <div class="col-sm-7">{{ about.title|default:"-" }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">Heading</div>
                <div class="col-sm-7">{{ about.heading|default:"-" }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">Order number</div>
                <div class="col-sm-7">{{ about.order_number|default:"-" }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">Date</div>
                <div class="col-sm-7">
                    {% if about.from_date and about.to_date %}
                        {{ about.from_date }} - {{ about.to_date }}
                    {% elif about.from_date %}
                        From {{ about.from_date }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {% include 'Admin/default_card.html' with item=about %}
        </div>
    </div>
    <div class="row">
        <div class="row form-group">
            <div class="col-sm-1">Text</div>
            <div class="col-sm-11">{{ about.text|default:"-"|safe|escape }}</div>
        </div>
    </div>
    <a type="button" class="btn btn-info" href="{% url 'about-edit' about.id %}">Edit</a>
    <a type="button" class="btn btn-info" href="{% url 'about-list' %}">Back to list</a>
{% endblock %}
