<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extracss %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% block navbar %}
{% endblock %}
{% block body %}
{% endblock %}
{% include 'Blog/footer.html' %}
</body>
</html>