<footer class="mt-auto">
    <div class="home-footer">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© {% now 'Y' %} Copyright:
            <a href="https://mdbootstrap.com/" class="text-decoration-none" target="_blank"> MDBootstrap.com</a>
        </div>
    </div>
</footer>