{% extends 'Admin/Contacts/contacts_base.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">View</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="row form-group">
                <div class="col-sm-5">Description</div>
                <div class="col-sm-7">{{ contact.description|default:"-" }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">Placeholder</div>
                <div class="col-sm-7">{{ contact.placeholder|default:"-" }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">Field type</div>
                <div class="col-sm-7">{{ contact.get_field_type_display|default:"-" }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">Contact info</div>
                <div class="col-sm-7">{{ contact.contact_info|default:"-" }}</div>
            </div>
        </div>
        <div class="col-sm-6">
            {% include 'Admin/default_card.html' with item=contact %}
        </div>
    </div>
    <a type="button" class="btn btn-info" href="{% url 'contacts-edit' contact.id %}">Edit</a>
    <a type="button" class="btn btn-info" href="{% url 'contacts-list' %}">Back to list</a>
{% endblock %}
