<div class="row form-group">
    <div class="col-sm-5">ID</div>
    <div class="col-sm-7">{{ item.id|default:"-" }}</div>
</div>
<div class="row form-group">
    <div class="col-sm-5">Created</div>
    <div class="col-sm-7">Created by: {{ item.created_by.label }}
        at {{ item.created_stamp|default:"-"|date:'M. j Y' }}</div>
</div>
<div class="row form-group">
    <div class="col-sm-5">Modified</div>
    <div class="col-sm-7">Modified by: {{ item.modified_by.label }}
        at {{ item.modified_stamp|default:"-"|date:'M. j Y' }}</div>
</div>
<div class="row form-group">
    <div class="col-sm-5">Archived</div>
    <div class="col-sm-7">Archived by: {{ item.archived_by.label }}
        at {{ item.archived_stamp|default:"-"|date:'M. j Y' }}</div>
</div>
<div class="row form-group">
    <div class="col-sm-5">Active</div>
    <div class="col-sm-7">
        {% if item.is_active %}
            <label class="label label-success">Default Label</label>
        {% else %}
            <label class="label label-warning">Default Label</label>
        {% endif %}
    </div>
</div>